<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-client-cert-authentication"
        version="1.0.1">

  <name>Client Certificate Authentication</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ClientCertificateAuthentication">
        <param name="android-package" value="de.jstd.cordova.plugin.ClientCertificateAuthentication"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <source-file src="src/android/ClientCertificateAuthentication.java" target-dir="src/de/jstd/cordova/plugin"/>
  </platform>

</plugin>
